.see-all-btn {
  background-color: var(--clr-secondary);
  padding: 12px;
  border: none;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.see-all-btn:hover {
  background-color: var(--clr-hover) !important;
}
