.yt-frame-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  overflow: hidden;
  border-radius: 15px;
}

.yt-frame {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
