input[type="text"],
input[type="email"],
textarea {
  border: none;
  border-radius: 15px;
  padding: 10px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: 2px solid var(--clr-hover);
}

input[type="submit"] {
  width: fit-content;
  background-color: var(--clr-secondary-hover);
  padding: 12px;
  border: none;
  border-radius: 15px;
  transition: all 0.3s ease;
}

input[type="submit"]:hover {
  background-color: var(--clr-hover) !important;
}

.form-success {
  color: var(--clr-success);
  text-align: center;
}
